html {
    height: 100%;
    overflow: hidden;
}

body {
    background-size: cover;
}

.main-page {
    height: 90vh;
}

.header {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
